#title {
  width: 100%;
  text-align: center;
}

.container {
  width: 50%;
  height: 100%;
  border: 2px solid black;
  border-radius: 5px;
}

#editor {
  width: 99%;
  height: 100%;
  outline: none;
  resize: none;
  border: none;
}
