#title {
  width: 100%;
  text-align: center;
}

#main-container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 20px;
  padding: 5px;
  width: 45%;
  height: 500px;
  border: 2px solid black;
  border-radius: 5px;
}

#editor {
  width: 99%;
  height: 100%;
  outline: none;
  resize: none;
  border: none;
  font-size: 20px;
}

#preview {
  font-size: 17px;
  height: auto;
  border: none;
}
